body{
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 40px ;
    border-radius: 12px;
    .social{
        font-family: "Inter", bold;
        font-size: 14px;
        font-style: normal;
        text-align: center;
        color: #ffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 16px;
        a{
            font-family: "Inter";
            font-weight: bolder;
            font-size: 14px;
            font-style: normal;
            text-align: center;
            color: #ffff;
            background-color: #333;
            width: 300px;
            height: 20px;
            padding: 12px;
            gap: 8px;
            text-align: center;
            border-radius: 8px;
            
            text-decoration: none;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: all 0.3s ease;
        } 

        a:hover{
            background-color: #c4f82d;
            color: #333;
    
        }
    }
}

img{
    clip-path: circle(50%);
    width: 88px;
    height: 88px;
}

.full{
    font-family: "Inter";
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    color: #ffff;
    margin-top: 24px;
}

.addess{
    font-family: "Inter" ;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    color: #c4f82d;
    margin-bottom: 24px;
}

.des{
    font-family: "Inter";
    font-weight:300;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    color: #ffff;
    margin: 24px;
}



